*{
    margin:0;
    padding:0;
}
body{
    background:#050b16;
    
}
body::-webkit-scrollbar{
    width:8px;  
}
body::-webkit-scrollbar-track{
    background:#050b16;   
}
body::-webkit-scrollbar-thumb{
    background-color:#033050;
    border-radius:20px;
    border:1px solid #050b16;
}

/*Menu*/
.menu{
    z-index:1000;
    top:0;
    position:fixed;
    width:90%;
    padding:1% 2%;
    margin:2%;
    font-size:15px;
    font-family:Verdana,sans-serif;
    background-color: rgba(5,11,22,.7);
}

nav ul li{
    display:inline;
    text-decoration:none;
    list-style-type:none;
    color:rgb(207, 207, 207);
    margin-left:1.5%;
}
a{
    text-decoration:none;
    list-style:none;
    color:rgb(207, 207, 207);
    transition:0.6s ease;
}
#languaje-menu{
    float:right;
    margin-right:0;
    font-size:14px;
    background-color: #050b16;
}
.language{
    background-color: #050b16;
    color: rgb(207, 207, 207);
    border:none;
    font-size:15px;
}
a:hover{
    color:#ffff;
}

/*Title*/
#main-title{
    font-family:'Segoe UI';
    color:rgba(207, 207, 207,.9);
    font-weight: lighter;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.select-none{
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}
.container-icons1{
    display:flex;
    justify-content: center;
    width:30%;
    left:50%;
    top:50%;
    transform: translate(122%,1570%);
}
.fas{
    color: rgba(207, 207, 207,.9);
    font-size: 25px;
    letter-spacing:30px;
    transition:.6s;
    padding-top:0.5%;
}
#eye{
    color: rgba(207, 207, 207,.9);
}
#book{
    color: rgba(207, 207, 207, .9);
}
#fire{
    color: rgba(207, 207, 207,.9);
}

#about-title{
    font-family:Helvetica,Verdana,sans-serif;
    font-size:20px;
    color:rgba(207, 207, 207,.8);
    padding:10%;
}

/*Footer*/
footer{
    width:100%; 
    margin-bottom:6px;
}
.footer-container{
    margin:0 auto;
    font-family:Verdana,sans-serif;
    text-align:center;
    width:60%;
    
}
.footer-text, .footer-icons{
    display:grid;
    padding:1%;
}
.footer-text{
    justify-content: center;
    color:rgb(207, 207, 207);
    font: 10px;
}
.fab{
    color:rgba(207, 207, 207,.6);
    font-size:35px;
    transition:0.8s;
}
.fab:hover{
    color:rgba(207, 207, 207,.9);
}

