body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4a2f5c;
    color: #fff;
    margin-bottom: 30px;
}

ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    overflow:hidden;
}

li {
    position: relative; 
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-image: url("../img/background_page.jpg"); 
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
}

img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto auto;
    
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease-in-out;
    transform: scaleX(0);
}

a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.p1 {
    font-size: 1.2em;
    margin-top: 5px;
    display: block;
    text-align: center;
}

.p2 {
    font-size: 1em;
    margin-top: 5px;
    display: block;
}

.expName {
    font-size: 1em;
    text-align: center;
    width: 100%;
}

.mail {
    color: rgb(64, 0, 83);
    text-align: center;
}


 /* Styles for the eyes */
 .eyes {
    display: flex;
    justify-content: center; /* Center the eyes horizontally within the li */
    gap: 15px; /* Space between the eyes */
    margin-top: 20px; /* Additional space above the eyes */
}

.eye {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1.5px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: height 0.15s;
    position: relative; 
}

.pupil {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Pupil doesn't block mouse events */
}


@media (max-width: 600px) {
    ul {
        padding: 0 5px;
    }

    li {
        padding: 8px;
        flex-direction: column;
        height: auto;
    }

    img {
        width: 40%; /* Full width images on small devices */
    }
}