*{
    margin:0px;
    padding:0;
    list-style:none;
    text-decoration:none;
}

#check{
    display:none;
}
label #btn,
label #cancel{
    position:absolute;
    cursor:pointer;
    background:#042331;
    color:#fff;
    border-radius:3px;
}
label #btn{
    left:40px;
    top:50px;
    font-size:15px;
    color: #fff;
    padding:6px 12px;
    transition:all 0.5s;
}
#cancel{
    z-index:111;
    left:-195px;
    top:50px;
    font-size:15px;
    color:#0a5275;
    padding:6px 12px;
    transition: all 0.5s
}

/*active side bar*/
.sidebar{
    position:fixed;
    left:-250px;
    width:225px;
    height:100%;
    background:#031b25;
    transition:all 0.5s ease; 
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity:0;
    pointer-events:none;
}
#check:checked ~ label #cancel{
    left:220px;
}
#check:checked ~ section{
    margin-left:250px;
}
.sidebar header {
    font-size:22px;
    color:#fff;
    text-align:center;
    line-height:30px;
    background:#063146;
    font-family:Verdana,Tahoma,sans-serif;
    user-select:none;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size:20px;
    color:#fff;
    padding-left:40px;
    box-sizing:border-box;
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid black;
    transition:0.4s;
}

.sidebar ul a i {
    margin-right:16px;
}
/*hover effect*/
ul li:hover a {
    padding-left:50px;
}
.sidebar header p {
    padding:15px;
}


