*{
    margin:0px;
    padding:0px;
}

body{
    background-color:rgb(243, 243, 243);
}

.menu{
    height: 100%;
    width:225px !important;
    position:absolute;  
}

#content{
    padding-left:250px;
}