*{
    margin:0px;
    padding:0px;
}

body{
    background-color:#fff;
    font-family:Helvetica,sans-serif;
}

.menu{
    height: 100%;
    width:225px !important;
    position:absolute;  
}

#content{
    padding-left:260px;
}
